body{
    margin: 0;
    font-family: sans-serif;
    background-color: lightslategray;
}

.header{
    background: white;
    border-bottom: 1px solid black;
    padding: 1rem 0;
}

.header-container{
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.site-name{
    font-size:  1.5rem;
    font-weight: bold;
    color: navy;
}

.nav-links a{
    color: darkblue;
    text-decoration: none;
    font-size: 1rem;
    padding: 0 5px;
}

.nav-links a:hover{
    text-decoration: underline;
}

.login-button{
    background: blue;
    color: white;
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;

}

.logib-button:hover{
    background: deepskyblue;
}

.register-button{
    background: green;
    color: white;
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}

.register-button:hover{
    background: limegreen ;
}

.footer{
    background: black;
    color: white;
    padding: 2rem 1rem;
    border-top: 1px solid gray;
    font-size: 0.9rem;
}

.footer-container{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1000px;
    margin: auto;
}

.footer-section h4{
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: white;
}

.footer-section a {
    display: block;
    color: lightgray; 
    text-decoration: none;
    margin-bottom: 0.3rem;
    transition: color 0.2s ease;
}

.footer-section a:hover {
  text-decoration: underline;
  color: white;
}

.social-icons {
  margin-top: 25px;
  text-align: center;
}

.social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: darkgray;
  color: white;
  text-align: center;
  line-height: 40px;
  border-radius: 6px;
  margin-right: 8px;
  text-decoration: none;
  transition: 0.3s ease;
}

.social-icons a:hover {
  background: lightgray;
  color: black;
}

.footer-bottom {
  text-align: center;
  margin-top: 1rem;
  color: silver;
}